<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.dxs.meeting"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="net.dxs.meeting.app.NetMeetApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="net.dxs.meeting.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.dxs.meeting.MeetListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".MeetDetail"
            android:label="@string/app_name" >
        </activity>

        <service android:name="net.dxs.meeting.service.SystemService" />

        <receiver android:name="net.dxs.meeting.receiver.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="net.dxs.meeting.receiver.ProcessAlarmReceiver" >
            <intent-filter>
                <action android:name="net.dxs.action.PROCESS_ALARM" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.androidpn.client.NotificationService"
            android:enabled="true"
            android:label="NotificationService" >
            <intent-filter>
                <action android:name="org.androidpn.client.NotificationService" />
            </intent-filter>
        </service>
    </application>

</manifest>